<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>航院跳蚤市场</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<script type="text/javascript" src="js/angular.min.js"></script>	
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
	</head>

	<body ng-app="user" ng-controller="login">
		<div class="row login-box">
		    <div class="col-md-4 col-md-offset-4">
		        <div class="panel panel-info">
		            <div class="panel-heading">欢迎登录</div>
		            <div class="panel-body">
		                <form ng-submit="doLogin();">
		                    <div class="form-group">
		                        <label for="">账户：</label>
		                        <input type="text" class="form-control" ng-model="username" placeholder="键入您的账户"/>
		                    </div>
		                    <div class="form-group">
		                        <label for="">密码：</label>
		                        <input type="password" class="form-control" ng-model="password" placeholder="键入您的密码"/>
		                    </div>
		                    <div class="form-group">
		                        <!--<label><input type="checkbox" ng-model="rememberMe"/>记住我</label>-->
		                    </div>
		                    <div class="form-group">
		                        <div class="col-md-4 col-md-offset-4">
		                            <button class="btn btn-primary" style="width: 100%;" >登录</button>
		                        </div>
		                        <div class="login-tip-box">
		                            <span>还没有账户？<a href="register.html">注册</a></span>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>

		
		<script type="text/javascript">
			var app = angular.module("user",[]);
			app.controller("login",["$scope","$window",function($scope,$window){
				//存储对象，以JSON格式存储
				var setObject = function(key,value){
					$window.localStorage[key]=JSON.stringify(value);
				}; 
				//读取对象
				var getObject = function(key){
					return JSON.parse($window.localStorage[key] || '{}');
				};
				//检查是否为数组的函数
				function isArray(o){
				return Object.prototype.toString.call(o)=='[object Array]';
				};
				//用户信息
				if (isArray(getObject("usermessage"))){
					$scope.usermessage = getObject("usermessage");
				}else{
					$scope.usermessage = [];
				};
				//检测账户密码是否正确的函数
				function isuser_pwd(name,pwd){
					return $scope.usermessage.some(function(v){
						if(v.username == name && v.password == pwd){
							$scope.username2 = v.username2;
							return true;
						}else{
							return false;
						};
					});
				};
				
				//点击提交操作
				$scope.doLogin = function(){
					if(isuser_pwd($scope.username,$scope.password)){
						alert($scope.username +"登录成功");
						$scope.presentUser = [];
						var storage = {
							'name' : $scope.username,
							'name2': $scope.username2,
							'psd'  : $scope.password,
						};
						$scope.presentUser.push(storage);
						setObject("presentUser",$scope.presentUser);
						window.location.href="user.html";
					}else{
						alert("登录失败：账户或者密码不正确");
						return;
					}
				};
			}]);
		</script>
	</body>
</html>
