<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>航院跳蚤市场</title>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<script type="text/javascript" src="js/angular.min.js"></script>
	</head>
	<body ng-app="user" ng-controller="register">
			<div class="row login-box">
			    <div class="col-md-4 col-md-offset-4">
			        <div class="panel panel-info">
			            <div class="panel-heading">注册新账户</div>
			            <div class="panel-body">
			                <form ng-submit="doRegister();">
			                    <div class="form-group">
			                        <label for="">登录账户：</label>
			                        <input type="text" class="form-control" ng-model="username" placeholder="键入您的账户"/>
			                    </div>
			                    <div class="form-group">
			                        <label for="">密码：</label>
			                        <input type="password" class="form-control" ng-model="password" placeholder="键入您的密码"/>
			                    </div>
			                    <div class="form-group">
			                        <label for="">确认密码：</label>
			                        <input type="password" class="form-control" ng-model="password2" placeholder="再次键入您的密码"/>
			                    </div>
			                    <div class="form-group">
			                        <label for="">用户名：</label>
			                        <input type="text" class="form-control" ng-model="username2" placeholder="键入您的用户名"/>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-4 col-md-offset-4">
			                            <button class="btn btn-primary" style="width: 100%;">注册</button>
			                        </div>
			                        <div class="login-tip-box">
			                            <span>已有账户？<a href="login.html">登录</a></span>
			                        </div>
			                    </div>
			                </form>
			            </div>
			        </div>
			    </div>
			</div>

		<script type="text/javascript">
			var app = angular.module("user",[]);
			app.controller("register",['$scope','$window',function($scope,$window){
				//存储对象，以JSON格式存储
				var setObject = function(key,value){
					$window.localStorage[key]=JSON.stringify(value);
				}; 
				//读取对象
				var getObject = function(key){
					return JSON.parse($window.localStorage[key] || '{}');
				};
				//检查是否为数组的函数
				function isArray(o){
				return Object.prototype.toString.call(o)=='[object Array]';
				};
				//用户信息
				if (isArray(getObject("usermessage"))){
					$scope.usermessage = getObject("usermessage");
				}else{
					$scope.usermessage = [];
				};
				//总数据信息
				if (isArray(getObject("zong_message"))){
					$scope.zong_message = getObject("zong_message");
				}else{
					$scope.zong_message = [];
				};				
				//检测用户名是否重复函数
				function isrepeat(name){
					return $scope.usermessage.some(function(v){
						if(v.username ===name){
							return true;
						}else{
							return false;
						};
					});
				};
				
				$scope.doRegister = function(){
					var name = $scope.username;
					var pwd  = $scope.password;
					var pwd2 = $scope.password2;
					var name2 = $scope.username2;
					// 若是输入为空或者undefined时
					if(name===undefined||name.trim().length===0||pwd===undefined||pwd.trim().length===0||pwd2===undefined||pwd2.trim().length===0||name2===undefined||name2.trim().length===0){
						alert("请输入完整信息");
						return;
					};
					// 若输入的密码和确认密码不一致时
					if(pwd!==pwd2){
						alert("俩次输入的密码不一致");
						return;
					};
					//检测账户是否重复
					if(isrepeat(name)){
						alert("此账户已注册，请重新输入")
						return;
					};
					//检测用户名是否重复
					if($scope.usermessage.some(function(v){
						if(v.username2 ===$scope.username2){
							return true;
						}else{
							return false;
						};
					})){
						alert("此用户名已注册，请重新输入")
						return;
					};
					var message = {
						'username' : name,
						'password' : pwd,
						'username2': name2,
					};
					$scope.usermessage.push(message);
					setObject("usermessage",$scope.usermessage);
					var zong_message = {
						'username'     : name,
						'goodsmessage' : [],
						'usermessage'  : {
							'userimg' : 'img/moren_touxiang.jpg',
							'qianming': '这家伙很懒，还没有留下个性签名=-=',
						},
						
					}
					$scope.zong_message.push(zong_message);
					setObject("zong_message",$scope.zong_message);
					alert("注册成功！");
					//自动登录
					$scope.presentUser = [];
					var storage = {
							'name' : $scope.username,
							'name2': $scope.username2,
							'psd'  : $scope.password,
					};
					$scope.presentUser.push(storage);
					setObject("presentUser",$scope.presentUser);
					window.location.href="user.html";
				}
			}]);
		</script>
	
	</body>
</html>
